name: ubuntu-latest-build-and-test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
    - uses: Swatinem/rust-cache@v2
      with:
        # Cache is shared across all jobs in the workflow
        shared-key: "ubuntu-latest"
        # Save cache even if the build fails
        save-if: true
    - name: Build
      run: cargo build
    - name: Clippy
      run: cargo clippy
    - name: Run tests
      run: cargo test # -- --skip integtests
